# mid2pwl settings for Billy_Idol_-_Rebel_Yell.mid
MELODY=15,6
BASS=1
PAD=3
DRUMS=9
SATB=-1
TRANSPOSE=0
INST=11,1,2
LEGATO=120
ROLL=280
TRIM=0
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=49,10
AMP1=13,34
AMP2=2,34
ADSR0=7,12,4,8
ADSR1=1,11,4,1
ADSR2=11,0,7,12
