# mid2pwl settings for gmlast.mid
MELODY=-1
BASS=-1
PAD=-1
DRUMS=-1
SATB=0
TRANSPOSE=0
INST=12,1,13
LEGATO=120
ROLL=280
TRIM=0
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=30,22
AMP1=24,18
AMP2=18,14
ADSR0=off
ADSR1=off
ADSR2=off
