# mid2pwl settings for Lord_of_the_Rings_-_Lothlorien.mid
MELODY=-1
BASS=-1
PAD=-1
DRUMS=9
SATB=1
TRANSPOSE=0
INST=11,1,2
LEGATO=120
ROLL=280
TRIM=0
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=34,34
AMP1=20,34
AMP2=4,34
ADSR0=off
ADSR1=1,0,6,4
ADSR2=7,0,7,12
