# mid2pwl settings for Phil_Collins_-_Another_Day_In_Paradise.
MELODY=3,0
BASS=1
PAD=2
DRUMS=9
SATB=-1
TRANSPOSE=0
INST=1,1,9
LEGATO=120
ROLL=280
TRIM=32
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=27,34
AMP1=35,10
AMP2=20,10
ADSR0=7,12,4,8
ADSR1=1,11,4,1
ADSR2=11,0,7,12
