# mid2pwl settings for Please-Come-Home-For-Christmas.mid
MELODY=4,3
BASS=1
PAD=0
DRUMS=9
SATB=-1
TRANSPOSE=0
INST=15,1,2
LEGATO=120
ROLL=280
TRIM=0
ARP=0
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=54,10
AMP1=36,10
AMP2=23,10
CINST4=bells
SKIP0=4,5,-2,-1
ADSR0=off
ADSR1=1,11,4,1
ADSR2=11,0,7,12
