# mid2pwl settings for Queen_-_Bohemian_Rhapsody.mid
MELODY=1
BASS=3
PAD=2
DRUMS=10
SATB=-1
TRANSPOSE=0
INST=2,1,2
LEGATO=120
ROLL=280
TRIM=0
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=49,10
AMP1=11,34
AMP2=2,34
ADSR0=7,12,4,8
ADSR1=1,11,4,1
ADSR2=7,0,7,12
