# mid2pwl settings for U2_-_With_or_Without_You.mid
MELODY=3,6,7
BASS=1
PAD=5
DRUMS=9
SATB=-1
TRANSPOSE=0
INST=12,1,9
LEGATO=120
ROLL=280
TRIM=16
MEL_FLOOR=60
BASS_CEIL=55
PAD_RANGE=45,59
AMP0=40,34
AMP1=11,34
AMP2=8,34
GAIN7=50
ADSR0=off
ADSR1=1,11,4,1
ADSR2=11,0,7,12
